{{#link-to 'album' album}}
<div class='img'>
  {{cover-art model=album}}
  <div class='overlay'>
    <button {{action "queueAlbum" bubbles=false}}>
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" class='icon-play'>
      <path d="M0 0v6l6-3-6-3z" transform="translate(1 1)" />
      </svg>
    </button>
  </div>
</div>
{{/link-to}}
{{#link-to 'album' album}}<div class='title'>{{album.title}}</div>{{/link-to}}
{{#link-to 'artist' album.artist}}<div class='artist'>{{album.artist.name}}</div>{{/link-to}}
