<div class='img'>
  <img src={{album.img}} />
  <div class='overlay'>
    <button {{action "playTrack"}}><span class="oi" data-glyph="media-play"></span></button>
  </div>
</div>
<div class='title'>{{album.title}}</div>
<div class='artist'>{{album.artist}}</div>
