<div class='img'>
  <img src={{cover}} alt='cover'/>
  <div class='overlay'>
    <button {{action "playTrack"}}>
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" class='icon-play'>
      <path d="M0 0v6l6-3-6-3z" transform="translate(1 1)" />
      </svg>
    </button>
  </div>
</div>
<div class='title'>{{album.title}}</div>
<div class='artist'>{{album.artist.name}}</div>
