<!-- <div class="c"> -->
    {{#if model.cover}}
        <img src={{model.cover}} />
    {{else}}
        <div class="square placeholder">
            <div class="square__content square__content--centered">
            </div>
        </div>
    {{/if}}
    <!-- </div> -->
{{yield}}
