<h1>Colibri</h1>
<p>Login with your credentials</p>
<form {{action 'authenticate' on='submit'}}>
  {{input id='identification' placeholder='Username' value=identification}}
  {{input id='password' placeholder='Password' type='password' value=password}}
  <button type="submit">Login</button>
</form>
