<button {{action 'create'}}>new</button>
{{#each playlists as |playlist|}}
  {{#draggable-object-target action="addTrack" playlist=playlist}}
    {{#link-to 'playlist' playlist}}{{playlist.title}}{{/link-to}}
  {{/draggable-object-target}}
{{/each}}
