<nav>
  <div class="title">Main</div>
  {{#link-to 'index'}}<span class="oi" data-glyph="globe"></span> Browse{{/link-to}}
  <a href="#"><span class="oi" data-glyph="compass"></span> Discover</a>
  <a href="#"><span class="oi" data-glyph="audio"></span> Radio</a>
  <a href="#"><span class="oi" data-glyph="star"></span> Toplist</a>
  {{#link-to 'queue'}}<span class="oi" data-glyph="list-rich"></span> Queue{{/link-to}}
  <a href="#"><span class="oi" data-glyph="clock"></span> History</a>
</nav>
{{playlist-nav}}
