<div class="index">
  <span class="num">{{index}}</span>
  <span class="oi speaker" data-glyph="volume-high"></span>
</div>
<div class="title">{{track.title}}</div>
<div class="time">{{format-timecode track.duration}}</div>
