// grid cover styles
.cover {
  a {
    color: inherit;
    &:hover { text-decoration: underline }
  }

  .img {
    position: relative;

    .overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .75));
      color: white;

      transition: opacity .2s;

      display: flex;
      justify-content: center;
      align-items: center;
      button {
        font-size: 2.5rem;
        text-align:center;
        border: 1px solid rgba(255,255,255,1);
        color: $colibri;
        border-radius: 50%;
        line-height: 1;
        .icon-play {
          width: 50px; height: 50px;
          fill: white;
          vertical-align: bottom; padding-left: 7px; }
        padding: .5rem;
        &:hover { background-color: rgba(255,255,255,.15)}
      }
    }
    &:hover .overlay { opacity: 1;}
  }
  text-align: center;
  .title {margin-top: .2rem;}
}
// album cover image object
.c {
  img { max-width: 100%; vertical-align: bottom; box-shadow: 0 0 7px rgba(0,0,0,.1)}
  .square {  
    padding-bottom: 100%;
    position: relative;
    
    /* Visual */
    text-shadow: 0 1px rgba(255,255,255,0.5);
    background: linear-gradient(to top, rgba(0,0,0,.25), rgba(255,255,255,.0) 95%)
  }

  .square__content {
    /* Flexbox wrapper styles */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; 
    
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  .square__content--centered {
    align-items: center;
    justify-content: center;
  } 
}
.queue, .album { .cover { font-size: 1.2rem; } }
.description {
  margin-top: .5rem;
  line-height: 1.3;
}
// title & artist text
.artist { color: #888; font-size: .875em }

// tracklist
.tracklist {
  list-style: none;
  margin: 0;
  .track {
    & > div:first-child {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    }
    .index, .time, .options { font-size: .785rem; }
    .num, .time, .options {
      opacity: .5;
    }

    &:hover { /* color: #f82e59;*/ .title { text-decoration: underline } }

    
    .options { display: none; vertical-align: middle; margin-right: .25rem }
    &:hover {
      .options { display: inline }
      time { display: none }
    }

    .index { margin-right: 1rem; min-width: 1rem }
    .speaker {
      vertical-align: middle;
      opacity: .75;
      display: none;
    }
    &.active {
      .num { display: none; }
      .speaker { display: inline }
    }
    .title { flex: 1 }

    //&.active {background: #14133d; color: #fff}

    &.total {
      border-top: 1px solid rgba(0,0,0,.1);
      .title { font-size: .75rem; color: #999 }
    }
    &.total:hover { .title {text-decoration: none;} color: inherit }
  }
}