body {
  line-height: 1.2;
  font-family: Source Sans Pro, sans-serif;

  // font-family: Karla, sans-serif;
  // letter-spacing: -0.01em;

  font-size: 15px;
  //background: #f3f3f3;
  //background: $colibriGray;
  color: $color00;
}

a { text-decoration: none; }

strong {
  font-weight: 600;
}

h1, h2, h3, h4 {
  margin: 0;
  //margin: 1.414em 0 0.5em;
  font-weight: inherit;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

button {
  background: none;
  border: none;
}

button.btn {
  background: #f82e59;
  color: #fff;
  padding: .1rem 1.5rem;
  border-radius: 3px;

  text-transform: uppercase;
  font-size: .75rem;

  border: 1px solid #f82e59;
  &:hover {
    background: #fff;
    color: #f82e59;
  }
}
