@import 'normalize';

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700,300);

@import url(https://cdn.jsdelivr.net/open-iconic/1.1.0/font/css/open-iconic.min.css);

$color00: #212e2f;
$color0: #4e4e4e;
$color1: #d68787;
$color2: #5f865f;
$color3: #d8af5f;
$color4: #85add4;
$color5: #d7afaf;
$color6: #87afaf;
$color7: #d0d0d0;
$color8: #626262;
$color9: #d75f87;
$color10: #87af87;
$color11: #ffd787;
$color12: #add4fb;
$color13: #ffafaf;
$color14: #87d7d7;
$color15: #e4e4e4;


$colibri: rgb(178, 193, 108);
$colibriGray: rgb(222, 209, 201);

* {box-sizing: border-box}

strong {
  font-weight: 600;
}

body {
  line-height: 1.2;
  font-family: Source Sans Pro, sans-serif;

  font-size: 15px;
  //background: #f3f3f3;
  //background: $colibriGray;
  color: $color00;
}
// toplevel ember wrapper
body > .ember-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a { text-decoration: none; }

header {
  padding: 1rem 1.25rem;
  background: white;
  background: #f82e59;
  border-bottom: 1px solid rgba(0,0,0,.1);


  border-bottom: 1px solid #E70A39;
  box-shadow: inset 0 -1px rgba(255, 255, 255, .15);

  .logo {
    font-size: 1.75rem;
    color: $color0;
    color: $colibri;
    color: #fff;
    text-shadow: 0 2px rgba(0,0,0,.1);
  }
}

.container {
  display: flex;
  flex: 1 1 auto;
  height: 1px;
}
aside {
  background: #f3f3f3;
  border-right: 1px solid rgba(0,0,0,.1);
  box-shadow: inset -4px 0 4px -4px rgba(0,0,0,.15);
  width: 230px;
  height: 100%;
  overflow-y: auto;
}
main {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

aside {
  padding: 1.5rem;
  line-height: 1.75;
  .title {
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
    font-size: .8rem;
    margin-bottom: .15rem;
  }

  nav {
    margin-bottom: 1.5rem;
  }
  nav a {
    display: block;
    color: #54565A;
    text-decoration: none;
    &.active { color: #f82e59; }
    .oi { vertical-align: middle; margin-right: .25rem }
  }
}

section.grid {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: center;

  padding: .5rem;

  .cover {
    padding: .5rem;
    width: 20% !important;
    flex: 0 1 auto;

    img { max-width: 100%; vertical-align: bottom }

    .img {
      position: relative;

      .overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .75));
        color: white;

        transition: opacity .2s;

        display: flex;
        justify-content: center;
        align-items: center;
        button {
          font-size: 2.5rem;
          text-align:center;
          border: 1px solid rgba(255,255,255,1);
          color: $colibri;
          border-radius: 50%;
          line-height: 1;
          .icon-play {
            width: 50px; height: 50px;
            fill: white;
            vertical-align: bottom; padding-left: 7px; }
          padding: .5rem;
          &:hover { background-color: rgba(255,255,255,.15)}
        }
      }
      &:hover .overlay { opacity: 1;}
    }
    text-align: center;
    .title {
      margin-top: .2rem;
      line-height: 1.5;
    }
    .artist { color: #888; font-size: .875rem }
  }
}

button {
  background: none;
  border: none;
}

footer {
  //position: fixed;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //z-index: 99999;

  display: flex;
  height: 96px;

  background: white;
  background: rgb(47, 47, 47);
  background: #14133d;
  color: #f3f3f3;
  box-shadow: 0 0 5px rgba(0,0,0,.1), 0 -1px rgba(0,0,0,.01);
  & > div {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .controls {
    flex: 0 0 260px;
  }
  .status {
    flex: 1 0 auto;
    padding: 0 1.5rem 0;
    .wrap {
      display: block;
      width:100%;
      text-align: center;

      .title {
        margin-top: -.5rem;
        margin-bottom: .75rem;
      }
    }
  }
  .buttons {
    flex: 0 0 260px;
  }

  button {
    font-size: 1rem;
    margin: 0 .25rem;
    &.big {
      font-size: 2rem;
    }
  }

  .time {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .position, .duration {
    padding: 0 .5rem;
    font-size: .785rem;
  }
  .progressbar {
    flex-grow: 1;
    width: 100%;
    background: rgb(74, 74, 74);
    cursor: pointer;
    height: 3px;

    .current {
      width: 100%;
      height: 3px;
      background: rgb(214, 76, 74);
      background: $colibri;
      background: #f82e59;
      transition: all .3s;
    }
  }
}


// queue view
.art {
  img { max-width: 100%; vertical-align: bottom }
  text-align: center;
  font-size: 1.2rem;
  .title {
    margin-top: .5rem;
    line-height: 1.5;
  }
  .artist { color: #888; font-size: .875em }
}

section.queue {
  display: flex;
  //align-items: center;
  justify-content: center;
  padding: 2rem 10%;
  .cover, .info {
    flex-basis: 50%;
    max-width: 50%;
  }

  .tracklist .track {
    color: #f3f3f3;
    .index, .time { color: #fff }
    padding: .75rem 1rem;
  }

}

main { position: relative; overflow-x: hidden }
.background {
  z-index: -1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('http://2dopeboyz.com/wp-content/uploads/2015/04/taku-love-again.jpg');
  background-size: cover;
  filter: blur(50px);
  margin: -125px;
}

.tracklist {
  list-style: none;
  margin: 0;
  .track {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    .index, .time {
      font-size: .785rem; opacity: .5;
    }

    &:hover { color: #f82e59; .title { text-decoration: underline } }

    .index { margin-right: 1rem; min-width: 1rem }
    .title { flex: 1 }
  }
}

// Album view
section.album {
  display: flex;
  //align-items: center;
  justify-content: center;
  padding: 2rem;
  .cover {
    flex-basis: 30%;
    max-width: 30%;
  }
  .info {
    flex-basis: 70%;
    max-width: 70%;
  }

  .tracklist {
    .track { border-bottom: 1px solid rgba(0,0,0,.1) }
  }
}
