@import 'normalize';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700,300|Karla:400,700,400italic,700italic');

@import url('https://cdn.jsdelivr.net/open-iconic/1.1.0/font/css/open-iconic.min.css');

$color00: #212e2f;
$color0: #4e4e4e;
$color1: #d68787;
$color2: #5f865f;
$color3: #d8af5f;
$color4: #85add4;
$color5: #d7afaf;
$color6: #87afaf;
$color7: #d0d0d0;
$color8: #626262;
$color9: #d75f87;
$color10: #87af87;
$color11: #ffd787;
$color12: #add4fb;
$color13: #ffafaf;
$color14: #87d7d7;
$color15: #e4e4e4;


$colibri: rgb(178, 193, 108);
$colibriGray: rgb(222, 209, 201);
// sidebar #BAC0CC
// #5c5edc

* {box-sizing: border-box}

@import 'typography';
@import 'components';
@import 'context-menu';
@import 'pages';

// toplevel ember wrapper
body > .ember-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  position: relative;
  z-index: 2; // to be above the queue bg

  padding: .5rem 1rem;
  background: linear-gradient(160deg, #DE6797, #DEAC95);
  background: linear-gradient(160deg, hsl(346, 74%, 64%), #DEAC95);
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: inset 0 -1px rgba(255, 255, 255, .15);

  color: #fff;
  text-shadow: 0 2px rgba(0,0,0,.1);
  .logo {
    color: inherit;
    font-size: 1.75rem;
  }
  & > * { vertical-align: middle }
}

.container {
  /* display: flex; */
  position: relative;
  flex: 1 1 auto;
  overflow-y: auto;
  /* height: 1px; */
}
aside {
  /* background: #f3f3f3; */
  /* border-right: 1px solid rgba(0,0,0,.1); */
  /* box-shadow: inset -4px 0 4px -4px rgba(0,0,0,.15); */
  width: 190px;
  height: 100%;
  overflow-y: auto;
}
main {
  background: white;
  overflow-y: auto;
  height: 100%;
  /* width: 100%; */
}

aside {
  padding: 1.5rem;
  padding-right: 0;
  line-height: 1.75;
  .title {
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
    font-size: .8rem;
    margin-bottom: .15rem;
  }

  nav {
    margin-bottom: 1.5rem;
  }
  nav a {
    display: block;
    color: #54565A;
    color: #BAC0CC;
    text-decoration: none;
    &.active { color: #f82e59; }
    .oi { vertical-align: middle; margin-right: .25rem }
  }
}

.new-playlist {
  font-size: .5rem;
  float: right;
  margin-right: 1.5rem;
  line-height: 3;

  cursor: pointer;
}

section.grid {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: center;

  padding: .5rem;
  .cover {
    padding: .5rem;
    width: 20% !important;
    flex: 0 1 auto;
  }
  @media screen and (max-width: 768px) {
    .cover { width: 33% !important }
  }
  @media screen and (max-width: 480px) {
    .cover { width: 50% !important }
  }
}

// player component
footer {
  display: flex;
  flex: none;
  height: 60px;
  position: relative;
  z-index: 2; // to be above the queue bg

  background: white;
  background: rgb(47, 47, 47);
  background: #14133d; // #111038 ?
  color: #f3f3f3;
  box-shadow: 0 0 5px rgba(0,0,0,.1), 0 -1px rgba(0,0,0,.01);
  & > div {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .controls, .buttons {
    flex: 0 0 260px;
    @media screen and (max-width: 480px) {
      flex: 0 0 60px;
    }
  }
  .status {
    flex: 1 0 auto;
    padding: 0 1.5rem 0;
    .wrap {
      display: block;
      width:100%;
      text-align: center;

      .title {
        margin-top: -.25rem;
        margin-bottom: .25rem;
      }
    }
  }

  button {
    font-size: 1rem;
    margin: 0 .25rem;
    &.big {
      font-size: 2rem;
    }
  }

  .time {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .position, .duration {
    padding: 0 .5rem;
    font-size: .785rem;
  }
  .progressbar {
    flex-grow: 1;
    width: 100%;
    background: rgba(255,255,255,.22);
    cursor: pointer;
    height: 3px;

    .current {
      width: 100%;
      height: 3px;
      background: rgb(214, 76, 74);
      background: $colibri;
      background: #f82e59;
      transition: all .3s;
    }
  }
}


@media screen and (max-width: 480px) {
  footer .buttons { display: none }
}

// queue view

section.queue {
  display: flex;
  //align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  .cover {
    flex-basis: 40%;
    max-width: 40%;
  }
  .info {
    flex-basis: 60%;
    max-width: 60%;
    margin-left: 2rem;
  }

  .tracklist .track {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    color: #f3f3f3;
    .index, .time { color: #fff }
    /* padding: .75rem 1rem; */
  }

}

main { position: relative; overflow-x: hidden }
.background {
  z-index: -1;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('http://2dopeboyz.com/wp-content/uploads/2015/04/taku-love-again.jpg');
  background-image: url('https://f1.bcbits.com/img/a2410515198_10.jpg');
  background-size: cover;
  /* background-position: center; */
  filter: blur(50px) saturate(2) brightness(.8);
  margin: -125px;

  &:after {
    z-index: -1;
    content: '';
    display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
   background: rgba(255,255,255,0.6);
  }
}

// Album view
section.album {
  display: flex;
  //align-items: center;
  justify-content: center;
  padding: 2rem;
  .cover {
    flex-basis: 30%;
    max-width: 30%;
    margin-bottom: 1rem;
  }
  .info {
    margin-left: 2rem;
    flex-basis: 70%;
    max-width: 70%;
  }

  .tracklist {
    .track { border-bottom: 1px solid rgba(0,0,0,.1) }
  }
}
@media screen and (max-width: 768px) {
  section.queue, section.album  {
    flex-wrap: wrap;
    .cover {
      flex-basis: 100%;
      max-width: 75%;
    }
    .info {
      margin: 0;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

// header
.header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin: 0 0 1rem;
  padding: 2rem;
  /* padding: 4rem 2rem 2.5rem; */
  /* background-image: url('https://images.unsplash.com/photo-1445754574409-bcd715e18017?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=c83d2afc85746404fff425e523a42df3'); */
  /* background-size: cover; */
  /* background-position: bottom; */
  /* color: #fff; */
}

// LOGIN

.login {
  background-color: #3b224c;
  height: 100vh;

  color: #a4a0e8;
  text-align: center;

  h1 { color : #fff }
  padding: 3rem 0 1rem;

  form {
    width: 25%;
    margin: 0 auto;

    input {
      width: 100%;
      display: block;
      background: none;
      border: none;
      padding: 1rem;
      border-bottom: 1px solid;

      &:focus {
        color: #dbbfef;
      }
    }

    text-align: right;

    button {
      margin: 1.5rem 0;
      padding: .5rem 1rem;
      &:hover { background: #fff; }
    }
  }
}