<section class="album">
  <div class='art cover'>
    {{cover-art model=model}}
    <div class="title">{{model.title}}</div>
    <div class="artist">{{model.artist.name}}</div>
  </div>

  <div class='info'>
    {{track-list tracks=model.tracks}}
  </div>
</section>
