<header>
  <a class='logo' href="">Colibri</a>
</header>

<div class='container'>
  <aside>
    <div class="title">Main</div>
    <nav>
      {{#link-to 'index'}}<span class="oi" data-glyph="globe"></span> Browse{{/link-to}}
      <a href="#"><span class="oi" data-glyph="compass"></span> Discover</a>
      <a href="#"><span class="oi" data-glyph="audio"></span> Radio</a>
      <a href="#"><span class="oi" data-glyph="star"></span> Toplist</a>
      {{#link-to 'queue'}}<span class="oi" data-glyph="list-rich"></span> Queue{{/link-to}}
      <a href="#"><span class="oi" data-glyph="clock"></span> History</a>
    </nav>
    <div class="title">Section title</div>
    <nav>
      <a href="#">Home</a>
      <a href="#">Link 1</a>
      <a href="#">Link 3</a>
    </nav>
  </aside>
  <main>
    {{outlet}}
  </main>
</div>

{{audio-player}}
