<div class='background'></div>
<section class='queue'>
  <div class='cover'>
    {{cover-art model=player.current}}
  </div>

  <div class='info'>
    {{track-list tracks=player.queue}}
  </div>
</section>
