<div class='background'></div>
<section class='queue'>
  <div class='cover'>
    <img src='http://spaceshowermusic.com/images/products/jacket_20322696.jpg?564b86ffb0ee9'/>
  </div>

  <div class='info'>
    <ul class='tracklist'>
      <li class="track">
        <div class="index">1</div>
        <div class="title">The Beginning Of</div>
        <div class="time">1:06</div>
      </li>
      <li class="track">
        <div class="index">2</div>
        <div class="title">The Last Story of the Myth</div>
        <div class="time">3:08</div>
      </li>
      <li class="track">
        <div class="index">3</div>
        <div class="title">Butterfly Effect</div>
        <div class="time">4:54</div>
      </li>
      <li class="track">
        <div class="index">4</div>
        <div class="title">Konton to Souzou No Kikagaku</div>
        <div class="time">3:50</div>
      </li>
      <li class="track">
        <div class="index">5</div>
        <div class="title">With Wind</div>
        <div class="time">4:35</div>
      </li>
      <li class="track">
        <div class="index">6</div>
        <div class="title">Inchoate</div>
        <div class="time">4:14</div>
      </li>
      <li class="track">
        <div class="index">7</div>
        <div class="title">Plug in Baby</div>
        <div class="time">4:36</div>
      </li>
      <li class="track">
        <div class="index">8</div>
        <div class="title">Kaleidoscope</div>
        <div class="time">4:33</div>
      </li>
      <li class="track">
        <div class="index">9</div>
        <div class="title">In the Darkness</div>
        <div class="time">4:41</div>
      </li>
      <li class="track">
        <div class="index">10</div>
        <div class="title">Christmas Comes to Our Place</div>
        <div class="time">4:47</div>
      </li>
      <li class="track">
        <div class="index">11</div>
        <div class="title">Supersonic</div>
        <div class="time">3:29</div>
      </li>
    </ul>
  </div>
</section>
