<!--<div class='background'></div>-->
<section class='queue'>
  <div class='art cover'>
    <img src='http://spaceshowermusic.com/images/products/jacket_20322696.jpg?564b86ffb0ee9'/>
  </div>

  <div class='info'>
    {{track-list tracks=player.queue}}
  </div>
</section>
